@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

button {
    cursor: pointer;
}

.container {
    width: 100%;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EFEFEF;
}

header, footer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    padding: 16px;
    top: 0;
    left: 0;    
}

header img {
    width: 75px;
    height: 53px;
}

header > ion-icon {
    font-size: 60px;
    padding-right: 24px;
}

main {
    width: 100%;
}

.cards {
    width: 100%;
    min-height: 150vmin;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    background-color: #EFEFEF;
}

.card {
    width: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
    border-radius: 2px; 
    font-size: 18px;
    line-height: 20px;
    gap: 15px;
    margin-right: 8px;
    word-break: break-all;
}

.time {
    margin: 0px 8px;
    margin-right: 8px;
    color: #AAAAAA;
}

.person {
    font-weight: 700;
}

.status {
    background-color: #DCDCDC;
}

.message {
    background-color: #FFFFFF;
}

.private {
    background-color:#FFDEDE;
    height: 63px;
}

footer {
    width: 100%;
    height: 80px;
    bottom: 0;
    left: 0;
    background: #FFFFFF;
    padding: 16px;
}

footer input {
    height: 50px;
    width: 350px;
    border: none;
}

footer input::placeholder {
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    color: #000000;
}

#form-message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#input {
    width: 90%;
    padding-left: 25px;
}

form > #sendMessage {
    border: none;
    background-color: transparent;
    font-size: 40px;
    padding-right: 34px;
}

form > #sendMessage ion-icon {
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

.span-alert {
    color: red;
}

.enter-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 150px;
    background-color: #FFFFFF;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background-attachment: fixed;
}

.enter-in img {
    width: 130px;
    height: 92px;
}

.enter-in form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.enter-in input {
    width: 261px;
    height: 54px;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
}

.enter-in input::placeholder { 
    width: 100%;
    text-align: center;
    font-family: 'Roboto';
    font-size: 18px;
    color: #AEAEAE;
}

.enter-in button {
    width: 109px;
    height: 45px;
    background: #E7E7E7;
    border-radius: 9px;
    border: none;
    color: #696969;
    font-size: 18px;
}

.divSpinner {
    display: flex;
    flex-direction: column;
    gap: 100px;
    text-align: center;
    font-weight: 700;
    font-size: 25px;
}



.spinner {
    animation: spinner 1.5s infinite;
}

@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
  
#active-participants {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 150px;
    background: rgba(0, 0, 0, 0.6);
    height: 100vh;
    width: 100%;
    top: 0;
    position: fixed;
    background-attachment: fixed;
}

.container-active-participants section {
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    align-items: center;
    gap: 15px;
    background-color: #FFFFFF;
}

.container-active-participants section .choose-participant {
    display: flex;
    text-align: center;
    width: 180px;
    color: #000000;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 30px 0;
}

.container-active-participants .participants {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    margin-left: 18px;
}

.container-active-participants .participants .participant{
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}

.container-active-participants .participant > ion-icon {
    color: #28BB25;
}

.container-active-participants .participants span {
    display: flex;
    gap: 5px;
    align-items: center;
}

.container-active-participants .participants ion-icon {
    display: flex;
    gap: 5px;
    font-size: 25px;
}